---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import { DEFAULT_LANGUAGE, getTranslations, getLocalizedPath } from '../i18n/ui';

const lang = DEFAULT_LANGUAGE;
const t = getTranslations(lang);
---
<Layout lang={lang}>
	<h1>{t['app.name']} (Homepage EN)</h1>
	<p>Welcome! This page is at <code>/</code>.</p>
	<p>
		<a href={getLocalizedPath('/test', lang)}>Go to test (EN)</a>
	</p>
	<p>
		<a href={getLocalizedPath('/', 'es')}>Go to Homepage (ES)</a>
	</p>
</Layout>
